.container{
    height: 100vh;
    scroll-snap-align: center;
    padding-top: 50px;
    width: 100%;
}

.title{
    color: #fff;
    font-size: 60px;
    font-weight: 700;
}

.subText{
    color: grey;
    text-transform: uppercase;
    font-size: 18px;
}

.mainSection{
    width: 100%;
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    /* flex-wrap: wrap; */
}

/* .mobileScrollTool{
    display: none;
} */

.card{
    width: 350px;
    height: 500px;
    background-color: rgb(8, 14, 38);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: .5s;
    scroll-behavior: smooth;
    overflow-y: scroll;

    
}
.cardImg{
    width: 100%;
    /* height: 200px; */
    border-radius: 10px;
    object-fit: cover;
    transition: .5s; 
    display: flex;
    justify-content: center;
}


.cardBody{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center
}
.cardBody h2{
    color: #fff;
    /* font-size: 60px;
    font-weight: 700; */
}

.cardBody p{
    color: grey;
    /* font-size: 18px;
    font-weight: 500; */
}

.mediaBox{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    /* gap: 10px; */
    justify-content: center;
    overflow-x: scroll;
}

.multipleMediaDiv{
    width: 100%;
    height: 100%;
}

.fullscreenDiv {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
  }

  .fullScreen{
    width: 40%;
    height: 80%;
  }


  /********** MEDIA QUERIES **********/

@media screen and (max-width: 450px){
    .mobileScrollTool{
        position: absolute;
        left: calc(50% - 27px);
    }

    .card{
        /* width: 150px; */
        height: 450px;
    }

    .mediaBox{
        overflow-x: hidden;
    }

    .cardBody h2{
        font-size: 24px;
    }

    .cardBody p{
        font-size: 16px;
    }

    .title{
        font-size: 30px;
    }

    .subText{
        font-size: 14px;
    }

    .mainSection{
        overflow-x: scroll;
        scrollbar-color: #fff #fff;
        /* gap: 0; */
    }

}

@media screen and (max-width: 1050px){
   
}