.container{
    height: 100vh;
    scroll-snap-align: center;
    /* padding: 50px 40px 0; */
    padding-top: 50px;
    width: 100%;
}

.title{
    color: #fff;
    font-size: 60px;
    font-weight: 700;
}

.subText{
    color: grey;
    text-transform: uppercase;
    font-size: 18px;
}

.description{
    margin-top: 20px;
    color: grey;
    font-size: 18px;
    max-width: 60%;
    letter-spacing: 1.1px;
}

.cardContainer{
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.cardContent{
    background-color: #151030;
    border-radius: 20px;
    padding: 25px 50px;
    min-height: 280px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.cardImage{
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.cardTitle{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

/************* MEDIA QUERIES **************/

@media screen and (max-width: 1050px){
    .container{
        width: 100%;
        /* padding: 50px 20px 0; */
        /* padding-top: 50px; */
    }

    .title{
        font-size: 40px;
    }

    .cardContainer{
        margin-top: 50px;
    }

    .cardContent{
        padding: 0px 20px;
        min-height: 150px;
    }

    .cardImage{
        width: 25px;
        height: 25px;
    }

    .cardTitle{
        font-size: 16px;
    }
    
}

@media screen and (max-width: 755px){
    .container{
        height: 100vh;
        /* scroll-snap-align: start; */
    }

    .cardContainer{
        /* width: 5%; */
        flex-direction: row;
        overflow-x: scroll;
        flex-wrap: nowrap;
        margin-top: 30px;
        gap: 30px;
    }

    .description{
        max-width: 100%;
    }
}

@media screen and (max-width: 450px){
    .title{
        font-size: 30px;
    }
    .subText{
        font-size: 14px;
    }
}