.container{
    height: 100vh;
    scroll-snap-align: center;
    padding-top: 50px;
    width: 100%;
}

.title{
    color: #fff;
    font-size: 60px;
    font-weight: 700;
}

.subText{
    color: grey;
    text-transform: uppercase;
    font-size: 18px;
}

.socIcons{
    padding-top: 40px;
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.contact{
    width: 100px;
    height: 100px;
    font-size: 35px;
}

.icon{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(8, 14, 38);
    border-radius: 50%;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}


.icon::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgb(219, 118, 241);
    z-index: -1;
    border-radius: 50%;
    transition: .5s;
}

.icon:hover::before{
    width: 100%;
}

.contactText{
    font-size: 14px;
}

@media screen and (max-width: 450px){
    .title{
        font-size: 30px;
    }
    .subText{
        font-size: 14px;
    }

    .contact{
        width: 60px;
        height: 60px;
        font-size: 20px;
    }
    
    .contactText{
        display: none;
    }
}