.container{
    height: 100vh;
    /* background-image: linear-gradient(315deg, #D419C1ff, #C71EBDff, #BB23BAff, #AE28B6ff, #A12DB2ff, #9532AFff, #8837ABff); */
    scroll-snap-align: center;
}

.socIcons{
    padding: 50px 40px 0;
    width: 200px;
    display: flex;
    justify-content: space-between;
}

/* .socIcons::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #512798;
    animation: showRight 1s ease forwards;
    animation-delay: 2.5s;
    z-index: 2;
} */

.socIcons a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: rgb(8, 14, 38);
    /* background: transparent; */
    /* border: 2px solid rgb(8, 14, 38); */
    border-radius: 50%;
    font-size: 20px;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}


.socIcons a::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgb(219, 118, 241);
    z-index: -1;
    border-radius: 50%;
    transition: .5s;
}

.socIcons a:hover::before{
    width: 100%;
}